<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="SharpDisasm" version="1.1.5" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.4.0-preview1-25305-02" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.4.0-preview1-25305-02" targetFramework="net462" />
  <package id="TreeLib" version="1.1.1" targetFramework="net462" />
  <package id="TreeLibArray" version="1.1.1" targetFramework="net462" />
  <package id="TreeLibInterface" version="1.1.1" targetFramework="net462" />
</packages>